certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
googletrans==2.4.0
idna==2.8
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
Pillow==7.1.2
pycparser==2.20
requests==2.22.0
six==1.14.0
subword-nmt==0.3.7
torch==1.1.0
tqdm==4.36.1
urllib3==1.25.9
